@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* ປ່ຽນຈາກ geist ມາເປັນ Noto Sans Lao ທີ່ເຮົາຕັ້ງຄ່າໄວ້ໃນ layout.tsx */
  --font-sans: var(--font-noto-lao), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
  /* ລຶບ font-family ໂຕເກົ່າອອກ ເພາະຕອນນີ້ Tailwind ຈະດຶງເອົາ var(--font-noto-lao) 
    ໄປໃຊ້ຜ່ານ Class "font-sans" ທີ່ເຮົາໃສ່ໄວ້ໃນ <body> ຂອງໄຟລ໌ layout.tsx ອັດຕະໂນມັດ 
  */
}